﻿@model IEnumerable<WebApplication1.Models.Exam>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
<div>
    <input type="button" value="Create New" class="btn btn-default" />
    <input type="button" value="Edit" class="btn btn-default" />
    <input type="button" value="Remove" class="btn btn-default" />
</div>

