﻿<!-- ko with: home -->
<div class="jumbotron">
    <h1>Englih Language Trainer</h1>
    <p class="lead">The application English Language Trainer provides vocabulaty tests as part of preparation to english lessons.</p>
    <p data-bind="text: myHometown"></p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Exams</h2>
        <p>There is no exmams here, you need to add phrases to learn or import they from file.</p>
        @Html.Action("Index", "Exams", null)
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>*@
    </div>

    <div class="col-md-4">
        <h2>Manage exams and vocabulary</h2>
        <p>
            Not implemented
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>*@
    </div>

    <div class="col-md-4">
        <h2>Statistics</h2>
        <p>Not implemented</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>

<!-- /ko -->
